

.wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: none;
    gap: 20px;
}

.img-banner {
    background-image: url("img/casey-horner-unsplash.jpg");
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 35vw;
    
    
    
}