* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Ostrich Bold";
    src: url("../fonts/ostrich-sans-bold.woff") format("woff");
    src: url("../fonts/ostrich-sans-bold.ttf") format("truetype");
}

@font-face {
    font-family: "Ostrich Italic";
    src: url("../fonts/ostrich-sans-inline-italic.woff") format("woff");
    src: url("../fonts/ostrich-sans-inline-italic.ttf") format("truetype");
}

@font-face {
    font-family: "Ostrich Regular";
    src: url("../fonts/ostrich-sans-rounded.woff") format("woff");
    src: url("../fonts/ostrich-sans-rounded.ttf") format("truetype");
}

.wrapper {
    display: flex;
    align-items: center;
    height: 100vh;
    min-height: 665px;
    width: 100vw;
    min-width: 500px;
    overflow: none;
}

.img-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/casey-horner-unsplash.jpg");
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 40vw;
    min-width: 275px;

}

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    background-color: black;
    opacity: .7;
    width: 100%;
    height: 130px;
    padding: 0, 20px;
}

.logo {
    background-image: url("../img/odin-lined.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    min-width: 70px;
    height: 100px;
}

.logo-name {
    font-family: "Ostrich Bold", sans-serif;
    font-size: 4rem;
    margin-top: 20px;
    color: white;
}

@media only screen and (max-width: 970px) {
    .logo-name {
      font-size: 3rem;
    }
    .logo {
        min-width: 50px;
        height: 100px;
    }
  }

.content-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 60vw;
    min-width: 500px;
}

.our-service p {
    padding: 10px 60px;
}

.our-service {
    position: relative;
    height: 30vh; 
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.our-service::after{
    content: "";
    background-image: url("../img/space-pattern.png");
    background-size: contain;
    background-repeat: repeat;
    background-position: center center;
    position: absolute;
    width: 100%; 
    height: 100%;
    z-index: -1;
    opacity: .1;
}

.form-wrapper {
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #ffffff 74%);
    height: 70vh;
    width: 60vw;
    min-height: 515px;
    min-width: 500px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 30px 60px;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
}

form h3 {
    font-family: "Ostrich Regular";
    font-size: 38px;
    padding-top: 10px;
}

form section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form label {
    color: #000000;
    text-shadow: .5px .5px #F5F5F5;
}

.form-input {
    width: 200px;
    font-family: "Lato", sans-serif;
    font-size: 10px;
}

/* input gradient border */
.input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    width: 101%;
    background-color: #000000;
    background-image: linear-gradient(170deg, #000000 0%, #ffffff 74%);
    margin-top: 3px;
    border-radius: 3px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    appearance: none;
    -webkit-appearance: none;
    padding: 5px 7px;
    margin: 5px 0;
    width: 99%;
    height: 25px;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    border: none;
    border-radius: 3px;

}

form button {
    font-family: "Ostrich Italic";
    font-size: 18px;
    padding: 7px 15px;
}

form p {
    padding: 10px 0;
    font-size: 12px;
    font-family: "Lato", sans-serif;

}

#disclaimer {
    font-size: 10px;
    font-style: italic;
    text-align: right;
    color: #F5F5F5;
    padding-top: 30px;
}